body{
  background-color: rgb(88, 187, 88);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

#root {
  display: flex;
  justify-content: center;
}

.snake-game-ui > h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 2em;
}

.snake-game-ui > h2{
  text-align: center;
  font-size: 3em;
  color: #f24f4d;
}
button {
  width: 8em;
  line-height: 2;
  box-shadow: 2px 2px 8px #888888;
  border-radius: 0.5em;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: rgb(240, 61, 61);
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  border: none;
  outline: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
}

.game-setting button:hover {
  background: #fff;
  color: rgb(27, 184, 27);
}

.text-center {
  text-align: center;
}

.snake-game-ui h1 {
  text-align: center;
}

.snake-game-ui .game-setting {
  text-align: center;
  padding: 0.5em 0;
}

.snake-game-ui .game-setting button {
  margin: 0.2em;
  min-width: 6em;
}

.snake-game-ui .game-control div {
  text-align: center;
}

/* #go-up:hover,
#go-up:focus,
#go-up:active,
#go-down:hover,
#go-down:focus,
#go-down:active,
#go-left:hover,
#go-left:focus,
#go-left:active,
#go-right:hover,
#go-right:focus,
#go-right:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background-color: #0e58f0;
}

#go-middle,
#go-up,
#go-down,
#go-left,
#go-right {
  font-size: 2em;
  line-height: 1em;
  background-color: #00b0da;
}

#go-middle {
  width: 2em;
  height: 2em;
  margin: 0.2em;
  visibility: hidden;
}

#go-up,
#go-down {
  height: 3em;
  width: 2em;
}
#go-left,
#go-right {
  width: 3em;
  height: 2em;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal .inner {
  margin: 5vh 0;
  width: 90vw;
  max-width: 30em;
  padding: 1em;
  background-color: #fff;
  border-radius: 1em;
  overflow-y: auto;
}

.modal .inner::-webkit-scrollbar {
  display: none;
}

.modal .inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.setting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.5em;
}
.setting h1 {
  padding-bottom: 0.5em;
}
.setting h4 {
  padding: 0.5em 0;
}

.setting .play-setting {
  display: flex;
  flex-direction: column;
}
.setting label,
.setting label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

#sound-volume {
  width: 60%;
}

.setting .play-setting input {
  font-size: 1em;
}

.setting .play-setting select {
  font-size: 1em;
  width: 50%;
}
#btn-close-score-board,
#btn-save-setting {
  width: 50%;
  margin-bottom: 1em;
}

#score-chart-modal .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner .score-chart {
  border-collapse: collapse;
  width: 100%;
  min-height: 70vh;
  margin-bottom: 0.5em;
  flex-grow: 1;
  table-layout: fixed;
}

.inner .score-chart th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.inner .score-chart th,
.inner .score-chart td {
  width: 100px;
  text-align: center;
  font-size: 1.5em;
  height: 1em;
}

.inner .score-chart tbody tr:nth-child(1) {
  color: red;
  font-weight: bold;
}

.inner .score-chart tbody tr:nth-child(2) {
  color: orangered;
  font-weight: bold;
}

.inner .score-chart tbody tr:nth-child(3) {
  color: orange;
  font-weight: bold;
}
